.teenagerFrame {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
}

.teenagerFrame h2 {
  font-weight: 600;
  letter-spacing: 2px;
  margin: 1.5rem 0 1rem 0;
}

.teenagerFrame div {
  margin: 0.3rem 2rem;
  display: flex;
  text-align: left;
}

.openTeenager {
  background-color: #FB7299;
  color: white;
  height: 2.5rem;
  border: 0px;
  border-radius: 5px;
  width: 90%;
  position: fixed;
  bottom: 4rem;
  left: 50%;
  transform: translate(-50%);
}